body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #f4f4f4; */
  background: linear-gradient(135deg, #34495e 0%, #2c3e50 100%);
  color: #333;
}

.navbar {
  margin-bottom: 30px;
  background-color: #18222c;
  color: #ffffff;
}

.navbar-brand {
  font-family: sans-serif; /* Apply the custom font */
  font-size: 2.5rem; /* Increase the font size */
  font-weight: bold;
  letter-spacing: 1.5px; /* Add letter spacing for style */
  text-transform: uppercase; /* Make it all uppercase for a bold look */
}


.card-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: #18222c;
  /* border: 2px solid #f1c40f; */
  color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  /* background-color: rgb(185, 184, 184); */
  background-color: #18222caa;
}

.custom-circle-image {
  width: 12vw;
  height: 12vw;
  border: 4px solid #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  color: #3498db;
}


.dropzone {
  border-style: dashed;
  border-width: 2px;
  border: 2px dashed #3498db;
  background-color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.error {
  font-size: 1.25rem;
  color: red;
  font-weight: 600;
  text-align: center;
}

#classTable {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

#classTable th, #classTable td {
  padding: 12px;
  text-align: center;
}

#classTable th {
  background-color: #2776ac;
  color: white;
}

#classTable td {
  color: #ffffff;
}

.dz-message {
  color: #d7d7d7;
}
